<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">后端管理系统</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        视频
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/addVideo">添加视频</a></li>
                        <li><a class="dropdown-item" href="#">删除视频</a></li>
                        <li><a class="dropdown-item" href="/videoList/1">查看所有视频</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        视频分类
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/addCategory">添加视频分类</a></li>
                        <li><a class="dropdown-item" href="#">修改视频分类</a></li>
                        <li><a class="dropdown-item" href="/categoryList">查看所有视频分类</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-success" style="width: 70px" type="submit">搜索</button>
            </form>
        </div>
    </div>
</nav>